#header {
    min-width: 320px;
    width: 100%;
    height: 120px;
    background-color: rgb(225, 0, 255);
    position: relative;
    z-index: 3;
    .logo{
        position: absolute;
        transition: all 1s ease-in-out;
        top: 15px;
        width: 72px;
        right: calc(50vw - 36px);
        z-index: 5;
    }
    a {
        img{
            width: 60px;
            height: 100%;
        }
    }
    ul {
        display: inline;
        padding-left: 10px;
        
        li {
            font-size: 16px;
            margin: 8px;   
        }
        a {
            text-decoration: none;
            font-family:Arial, Helvetica, sans-serif;
        }
    }
}
